<div id="citation">
    <table class="table table-hover">
        <tr>
            <td>
                <div class="title">
                    <cite>{{ post.title }}</cite>
                </div>
                <div class="content">
                    {{ post.body }}
                </div>
            </td>
        </tr>
    </table>
</div>