{% extends "base.html.j2" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block app_content %}

<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#mainpage">{% if title == "Wikipedia, the free encyclopedia" %}
        {{ _('Main Page') }}
        {% else %}
        {{ _('未知叫咩住') }}
        {% endif %}</a></li>
    <li><a data-toggle="tab" href="#talk">{{ _('Talk') }}</a></li>
  </ul>

  <div class="tab-content">
    <!-- main page 子層 -->
    <div id="mainpage" class="tab-pane fade in active">
      <div>
        {# 這裏强行用transform把子層向上移, 和父層重疊了, 暫時未出意外 #}
        {# 被我拿掉了 style="float: right;transform: translate(0px, -41px);" #}
        <ul class="nav nav-tabs" style="float: right;transform: translate(0px, -41px);">
          <li class="active"><a data-toggle="tab" href="#mainpage_read">{{ _('Read') }}</a></li>
          <li><a data-toggle="tab" href="#mainpage_view_source">{{ _('View source') }}</a></li>
          <li><a data-toggle="tab" href="#mainpage_view_history">{{ _('View history') }}</a></li>
          {# 呢個星星, 係follow功能, 要再test下先 #}
          {% if not current_user.is_anonymous %}
          {% if following_post %}
          <form action="{{ url_for('unfollow', title=title) }}" method="post" style="display: inline;transform: translate(0px, 15px);">
            <button type="submit" class="btn btn-outline-light">
              <i class="fa-solid fa-star" style="font-size: 14px;"></i>
            </button>
          </form>
          {% else %}
          <form action="{{ url_for('follow',title=title) }}" method="post" style="display: inline;transform: translate(0px, 15px);">
            <button type="submit" class="btn btn-outline-light">
              <i class="fa-regular fa-star" style="font-size: 14px; "></i>
            </button>
          </form>
          {% endif %}
          {% endif %}
        </ul>
      </div>
      <div class="tab-content">
        <div id="mainpage_read" class="tab-pane fade in active">
          <br />
          {{ _('From Wikipedia, the free encyclopedia') }}
          <br />
          {% block read %}{% endblock read %}
        </div>
        <div id="mainpage_view_source" class="tab-pane fade">
          {% block view_source %}{% endblock view_source %}
        </div>
        <div id="mainpage_view_history" class="tab-pane fade">
          {% block view_history %}{% endblock view_history %}
        </div>
      </div>
    </div>
    <!-- Talk 子層 -->
    <div id="talk" class="tab-pane fade">
      {# 這裏强行用transform把子層向上移, 和父層重疊了, 暫時未出意外 #}
      {# 被我拿掉了 style="float: right;transform: translate(0px, -41px);" #}
      <ul class="nav nav-tabs" style="float: right;transform: translate(0px, -41px);">
        <li class="active"><a data-toggle="tab" href="#talk_read">Read</a></li>
        <li><a data-toggle="tab" href="#talk_view_source">View source</a></li>
        <li><a data-toggle="tab" href="#talk_view_history">View history</a></li>
      </ul>
      <div class="tab-content">
        <div id="talk_read" class="tab-pane fade in active">
          {% block talk_read %}{% endblock talk_read %}
        </div>
        <div id="talk_view_source" class="tab-pane fade">
          {% block talk_view_source %}{% endblock talk_view_source %}
        </div>
        <div id="talk_view_history" class="tab-pane fade">
          {% block talk_view_history %}{% endblock talk_view_history %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock app_content %}