{% extends "base.html.j2" %}
{% block head %}
{{ super() }}
<style>
  .nav-tabs {
    display: flex;
    justify-content: flex-start;
  }

  .nav-tabs li:nth-last-child(3) {
    margin-left: auto;
  }
</style>
{% endblock head %}

{% block app_content %}
<br />

<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#mainpage">Main Page</a></li>
    <li><a data-toggle="tab" href="#talk">Talk</a></li>
  </ul>

  {# 這裏强行用transform把子層向上移, 和父層重疊了, 但會把main page和talk button擋住了 #}
  <div class="tab-content" style="transform: translate(0px, -42px);"> 
    <!-- main page 子層 -->
    <div id="mainpage" class="tab-pane fade in active">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#mainpage_read">Read</a></li>
        <li><a data-toggle="tab" href="#mainpage_view_source">View source</a></li>
        <li><a data-toggle="tab" href="#mainpage_view_history">View history</a></li>
      </ul>
      <div class="tab-content">
        <div id="mainpage_read" class="tab-pane fade in active">
          <h4 style="text-align: center;">
            {{ _('Welcome to') }} <a href="{{ url_for('index') }}">{{ _('Wikipedia') }}</a>,<br>
            {{ _('the free encyclopedia that anyone can edit.') }}<br>
            <a href="{{ url_for('index') }}">{{ _('%(numofposts)d', numofposts=posts|length) }}</a>{{ _(' articles in
            English') }}
          </h4>

          {% for post in posts %}
          {% include "_post.html.j2" %}
          {% endfor %}
        </div>
        <div id="mainpage_view_source" class="tab-pane fade">
          <h3>mainpage_view source</h3>
        </div>
        <div id="mainpage_view_history" class="tab-pane fade">
          <h3>mainpage_view history</h3>
        </div>
      </div>

    </div>
    <!-- Talk 子層 -->
    <div id="talk" class="tab-pane fade">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#talk_read">talk_read</a></li>
        <li><a data-toggle="tab" href="#talk_view_source">talk_view source</a></li>
        <li><a data-toggle="tab" href="#talk_view_history">talk_view history</a></li>
      </ul>
      <div class="tab-content">
        <div id="talk_read" class="tab-pane fade in active">
          <h3>talk_read</h3>
        </div>
        <div id="talk_view_source" class="tab-pane fade">
          <h3>talk_view source</h3>
        </div>
        <div id="talk_view_history" class="tab-pane fade">
          <h3>talk_view history</h3>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock app_content %}

{% block scripts %}
{{ super() }}

<!-- Fontawesome -->
<script defer src="https://use.fontawesome.com/releases/v6.5.0/js/all.js"></script>

<!-- JQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

{% endblock scripts %}